		
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.scss">
	<title></title>
</head>
<body>
<p  id="fr" class="phrase">{{frase}}</p>
<button id="ok">OK</button>
<button id="no">NO</button>
<div class="fraseDiv">
{{keyPost}}
</div>


<script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>



